---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full mx-auto object-center flex flex-col items-center">
        <img src="images/404car.png" class="w-2/4 mx-auto" />
        <p
            class="text-6xl mt-2 w-full text-center text-white/60 font-bold tracking-tight"
        >
            Too far! <br />This page doesn't exist yet.
        </p>
        <button
            class="mt-8 px-4 py-4 block mx-auto text-md text-white/80 text-center font-bold bg-ezgreen1/50 border-2 border-white/20 hover:bg-ezgreen1/30 rounded"
            href="/"
        >
            LETS GO BACK
        </button>
    </div>
</Layout>
