<div class="pt-4 mx-auto pb-4">
    <nav class="w-4/5 mx-auto">
        <div id="pagenav" class="flex w-full justify-between mx-auto">
            <div class="flex flex-row justify-center items-center mb-2 mx-auto">
                <img src="/images/wordezoiclogo.png" class="w-1/4" />
            </div>
            <div
                class="flex-row justify-end items-center flex-wrap hidden md:flex"
            >
                <a
                    href="/trends"
                    class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                    >Trends</a
                >
                <a
                    href="/tools"
                    class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                    >Tools</a
                >
                <a
                    href="/insights"
                    class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                    >Insights</a
                >
                <a
                    href="/experiments"
                    class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                    >Experiments</a
                >
                <a href="https://www.ezoic.com"> Ezoic.com</a>
            </div>
            <div class="md:hidden flex ml-auto items-center">
                <div class="outline-none mobile-menu-button">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-6 h-6 text-ezgreen1 hover:text-ezgreen1/80"
                        ><path d="M4 6h16M4 12h16M4
              18h16"
                        ></path></svg
                    >
                </div>
            </div>
        </div>
        <div class="hidden md:hidden mobile-menu">
            <div>
                <div class="active">
                    <a
                        href="/trends"
                        class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                        >Trends</a
                    >
                    <a
                        href="/tools"
                        class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                        >Tools</a
                    >
                    <a
                        href="/insights"
                        class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                        >Insights</a
                    >
                    <a
                        href="/experiments"
                        class="text-white text-center mr-6 font-medium text-base hover:text-ezgreen1"
                        >Experiments</a
                    >
                </div>
            </div>
        </div>
    </nav>
</div>
